{% extends "base.html" %}

{% block title %}Mis Recomendaciones{% endblock %}

{% block content %}
<!-- Mensaje de bienvenida -->
<div class="alert alert-info text-center mb-4">
  <h4>Bienvenido a AgroCloud</h4>
  <p>El INGENIERO AGRONOMO, <strong>{{ current_user.creador.name }}</strong>, te estará acompañando con sugerencias para tu cosecha.</p>

  {% if current_user.created_by %}
  
  {% else %}
    <p>Este perfil no tiene un administrador asignado.</p>
  {% endif %}

</div>

<h2 class="text-success mb-4"><i class="bi bi-journal-text"></i> Recomendaciones Técnicas Asignadas</h2>

<!-- Mostrar Huertos Asignados -->

<div class="alert alert-success shadow-sm d-flex align-items-center mb-4">
  <i class="bi bi-megaphone fs-3 me-3"></i>
  <div>
    <h5 class="mb-1">Instrucciones Técnicas</h5>
    <p class="mb-0">Tu ingeniero agrónomo ha enviado las siguientes recomendaciones para tu gestión de campo.</p>
  </div>
</div>

